body {
    background-image: url('../img/dark_dotted2.png');
}

h1 {
    color: white;
}

.italic {
    font-style: italic;
}

p, h1, h2 {
    font-style: normal;
    font-family: sans-serif;
}

h1 {
    font-family: monospace;
}
